[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pylint = "*"
pytest = "*"

[packages]
flask = "*"
gunicorn = "*"
pandas = "*"
numpy = "*"
nltk = "*"
tensorflow = "==1.15.0"
bert-serving-client = "*"
bert-serving-server = "*"
ipykernel = "*"

[requires]
python_version = "3.7"
